:root {
  --bg: rgb(19, 1, 74);
  --highlight: rgb(14,0,56);
  font-size: 16px;
}

html,
body {
  position: absolute;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: white;
}

#__next {
  width: inherit;
  height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}